div#results {
    padding-top: 20px;
}

#page_x002e_data-result_x002e_delegation-searcher {
	padding-left: 30px;
}

.title {
	font-size: larger;
}

.share-form .form-container .form-fields {
	border: 0 !important;
	box-shadow: 0 0 0 0;
}

div#page_x002e_data-form_x002e_delegation-searcher_x0023_default-form-buttons {
	display: none;
}